$mdc-theme-primary: #FEDBD0;
$mdc-theme-on-primary: #442C2E;
$mdc-theme-secondary: #FEEAE6;
$mdc-theme-on-secondary: #442C2E;
$mdc-theme-surface: #FFFBFA;
$mdc-theme-on-surface: #442C2E;
$mdc-theme-background: #FFFFFF;
$mdc-theme-on-background: #442C2E;

@import "aos/src/sass/aos";
@import "@material/button/mdc-button";
@import "@material/drawer/mdc-drawer";
@import "@material/layout-grid/mdc-layout-grid";
@import "@material/list/mdc-list";
@import "@material/menu/mdc-menu";
@import "@material/toolbar/mdc-toolbar";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/typography/mdc-typography";

html, body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  display: inline-flex;
  font-size: 1rem;
  font-family: 'Roboto', 'Open Sans', sans-serif;
}

// Main Layout
.s-bodycontent{
  display: block;
  margin-top: 4rem;
  width: 100vw;
}

.s-maincontainer {
  display: grid;
  grid-template-columns: 12fr;
  grid-template-areas: "main";
  width: 100%;
}

.s-nav {
  @include mdc-drawer-fill-color(primary);
  @include mdc-drawer-ink-color(on-primary);
  @include mdc-drawer-fill-color-accessible(secondary);
}

.s-content {
  grid-area: main;
  margin: 0.25rem 0.5rem;
}

.s-footer {
  color: $mdc-theme-surface;
  background-color: $mdc-theme-on-surface;
}

.topAppBar-button{
  @include mdc-button-container-fill-color(secondary);
  @include mdc-button-ink-color(on-secondary);
  @include mdc-button-outline-color(on-surface);
  @include mdc-states(on-secondary);
}

// Body Content Style
// Parallax Effect
.parallax {
  /* 
    with parallax = background-attachment: fixed;
    without parallax = background-attachment: scroll;
  */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax--big {
  height: 90vh;
}

.parallax--medium {
  height: 70vh;
}

.parallax--small {
  height: 50vh;
}

.parallax-caption {
  display: flex;
  height: inherit;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  img {
    padding: 0.25rem;
  }
}

.parallax-caption--dark {
  padding: 2rem;
  color: $mdc-theme-surface;
  background-color: $mdc-theme-on-surface;
}

.parallax-caption--light {
  padding: 2rem;
  color: $mdc-theme-on-surface;
  background-color: $mdc-theme-surface;
}

.parallax-div {
  font-family: 'Lato', sans-serif;
  text-align: center;
  padding: 2rem 4rem;
  h2 {
    text-transform: uppercase;
    font-weight: 400;
  }
  p {
    text-align: justify;
  }
}

.parallax-div--light {
  color: $mdc-theme-on-surface;
  background-color: $mdc-theme-surface;
}

.parallax-div--dark {
  color: $mdc-theme-surface;
  background-color: $mdc-theme-on-surface;
}

// Material Design Components
.mdc-menu-anchor {
  margin-right: 0.5rem;
}

// Font Awesome
.fa {
  display: inline-flex;
  font-size: 1.5rem;
  justify-content: flex-start;
}

.classic-color-fb{
  color: #3B5998 !important;
}

.classic-color-gp{
  color: #DB4437 !important;
}

.classic-color-li{
  color: #0077B5 !important;
}

.classic-color-tw{
  color: #1DA1F2 !important;
}

.classic-color-wa{
  color: #25d366 !important;
}
