$mdc-theme-primary: #FEDBD0;
$mdc-theme-on-primary: #442C2E;
$mdc-theme-secondary: #FEEAE6;
$mdc-theme-on-secondary: #442C2E;
$mdc-theme-surface: #FFFBFA;
$mdc-theme-on-surface: #442C2E;
$mdc-theme-background: #FFFFFF;
$mdc-theme-on-background: #442C2E;

@import "aos/src/sass/aos";
@import "@material/button/mdc-button";
@import "@material/drawer/mdc-drawer";
@import "@material/layout-grid/mdc-layout-grid";
@import "@material/list/mdc-list";
@import "@material/toolbar/mdc-toolbar";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/typography/mdc-typography";

html, body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  display: inline-flex;
  font-size: 1rem;
  font-family: 'Roboto', 'Open Sans', sans-serif;
}

// Main Layout
.s-bodycontent{
  display: block;
}

.s-maincontainer {
  //height: 100%;
  display: grid;
  grid-template-columns: 12fr;
  grid-template-areas: "main";
}

.s-landingcontainer {
  //height: 100%;
  display: grid;
  grid-template-columns: 12fr;
  grid-template-areas: "main";
}

.s-header {
}

.s-nav {
  @include mdc-drawer-fill-color-accessible(primary);
  @include mdc-drawer-ink-color(on-primary);
}

.s-content {
  //grid-area: main;
  margin: 0.25rem 0.5rem;
}

.s-footer {
}

// Body Content Style
// Parallax Effect
.parallax {
  /* 
    with parallax = background-attachment: fixed;
    without parallax = background-attachment: scroll;
  */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax--big {
  height: 90vh;
}

.parallax--medium {
  height: 70vh;
}

.parallax--small {
  height: 50vh;
}

.parallax-caption {
  display: flex;
  height: inherit;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  img {
    padding: 0.25rem;
  }
}

.parallax-caption--dark {
  padding: 2rem;
  color: $mdc-theme-surface;
  background-color: $mdc-theme-on-surface;
}

.parallax-caption--light {
  padding: 2rem;
  color: $mdc-theme-on-surface;
  background-color: $mdc-theme-surface;
}

.parallax-div {
  font-family: 'Lato', sans-serif;
  text-align: center;
  padding: 2rem 4rem;
  h2 {
    text-transform: uppercase;
    font-weight: 400;
  }
  p {
    text-align: justify;
  }
}

.parallax-div--light {
  color: $mdc-theme-on-surface;
  background-color: $mdc-theme-surface;
}

.parallax-div--dark {
  color: $mdc-theme-surface;
  background-color: $mdc-theme-on-surface;
}

// Material Design Components
.mdc-top-app-bar__row {
  //height: 3.5rem;
}

.mdc-drawer__drawer {
  //vertical-align: top;
}

.foo-button {
  @include mdc-button-ink-color(teal);
  @include mdc-states(teal);
}