{% extends 'layout_topbar_footer.html' %} {% block page_description %}Swing easily over WEBsite development with Swing CMS!{%
endblock %} {% block page_title %}Swing CMS - Article emplate{% endblock %} {% block body %}
<section class="s-maincontainer">
    <main class="s-content">
        <article class="s-article">
            <header>
                <h2>
                    Article header that should summarized the article or give a broad idea about it.
                </h2>
                <span>
                    By AUTHOR | August 12, 2018
                </span>
            </header>
            <section class="s-article__media">
                <img src="https://source.unsplash.com/1280x720/?minimalist" alt="Minimalist Picture" />
                <span>Description of the media showed above</span>
            </section>
            <section class="s-article__text">
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam quia magni corporis voluptatum minus velit autem laboriosam
                    cumque quae modi animi consequuntur praesentium quos possimus qui numquam incidunt sapiente doloribus provident,
                    sint cupiditate laborum magnam eum. Ducimus laboriosam veniam nihil enim vero atque sequi voluptate quibusdam
                    excepturi debitis. Quas eum nostrum debitis placeat temporibus sequi totam odio quis accusamus qui quos perferendis
                    explicabo obcaecati pariatur sed dolorum maxime, distinctio nisi autem? Sequi beatae molestias a odio. Ipsa
                    atque a sunt neque. Repellendus similique ex maxime illo et consequuntur vitae quia aperiam mollitia nostrum.
                    <span class="s-article__text-wrap s-article__text-wrap-left">
                        <i class="material-icons" aria-hidden="true">message</i>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, distinctio?
                    </span>
                    Incidunt molestiae officiis sit iste voluptas itaque repellendus suscipit ipsa? Architecto, voluptatibus
                    maiores. A, officia labore libero rerum ex laudantium aut? Nemo sed placeat dignissimos et ab aut suscipit
                    necessitatibus. At saepe illum itaque quod accusamus. Voluptatem sunt dignissimos nulla magnam recusandae
                    iure, in libero nemo, perspiciatis aperiam explicabo quia consequuntur nihil excepturi similique totam incidunt?
                    Culpa perferendis numquam expedita atque quam eius delectus neque tempora deserunt. Debitis itaque minus
                    in. Consequuntur a tempore vitae eveniet asperiores tempora mollitia, possimus nostrum reprehenderit.
                </p>
                <h3>
                    Headline or SubTitle
                </h3>
                <p>
                    vitae sapiente aut cum quas expedita, ab voluptatibus nisi necessitatibus libero assumenda soluta modi atque
                    error accusantium? Quibusdam recusandae, corrupti esse voluptatem veniam alias, provident illo iure rerum
                    sapiente accusantium fugiat enim adipisci laudantium voluptatum labore autem molestiae. Ut maxime possimus
                    sit, necessitatibus distinctio ab eligendi expedita ipsa veritatis ea odio animi quos corporis alias! Ut
                    <span class="s-article__text-wrap s-article__text-wrap-right">
                        <i class="material-icons" aria-hidden="true">message</i>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, distinctio?
                    </span>
                    assumenda unde minima. Animi molestiae blanditiis commodi, nobis perspiciatis incidunt velit repellendus
                    porro distinctio modi placeat officiis aliquid hic ipsa rem eaque facilis quod adipisci asperiores necessitatibus
                    illum, doloribus vitae consectetur expedita. Vel ullam ducimus, expedita libero sequi iusto aliquid ipsa
                    aspernatur fugiat, odit, voluptas cumque! Reprehenderit laboriosam, quam fuga aliquid obcaecati magnam consectetur
                    quidem recusandae, velit error, nemo assumenda doloribus id aperiam deleniti est. Nesciunt atque a repellendus
                    quas quis, similique ad ullam labore soluta dolore ut sapiente quaerat consectetur amet, itaque accusamus
                    est recusandae voluptates qui. Perferendis quod esse eos iste tempore. Blanditiis, iusto? Accusantium error
                    quidem reprehenderit reiciendis nobis aut rem itaque consequatur officiis ea laborum quo, pariatur iste,
                    asperiores est, atque obcaecati officia optio ullam ad iusto ducimus mollitia ex voluptatum. Impedit accusamus
                    harum nulla fugit exercitationem eum, autem, nobis odit neque hic modi quibusdam quas ea mollitia consectetur
                    qui tenetur. Soluta eius commodi eaque saepe autem, earum ratione porro quidem enim ea quos labore pariatur
                </p>
            </section>
            <footer>
                <span>
                    Last article key information.
                </span>
            </footer>
        </article>
    </main>
</section>
{% endblock %}