{% extends 'layout_topbar_footer.html' %}

{% block page_description %}
Swing easily over WEBsite development with Swing CMS!
{% endblock %}
{% block page_title %}
Swing CMS
{% endblock %}

{% block body %}
<section class="s-maincontainer">
    <main class="s-content">
        My main body
        <button class="foo-button mdc-button">
            Button
        </button>
    </main>
    <header class="mdc-toolbar">
        <div class="mdc-toolbar__row">
            <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
            <a href="#" class="material-icons mdc-toolbar__menu-icon">menu</a>
            <span class="mdc-toolbar__title">Title</span>
            </section>
        </div>
    </header>
</section>
{% endblock %}