{% extends 'layout.html' %} {% block body %}
<header class="s-header mdc-top-app-bar mdc-top-app-bar--fixed">
    <div class="mdc-top-app-bar__row">
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
            <a href="#" class="menu material-icons mdc-top-app-bar__navigation-icon">menu</a>
            <span class="mdc-top-app-bar__title">My Header - Hello, World, this is RXDBit utilizing route and templates!</span>
        </section>
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
            <a href="#" class="material-icons mdc-top-app-bar__action-item" aria-label="Download" alt="Download">file_download</a>
            <a href="#" class="material-icons mdc-top-app-bar__action-item" aria-label="Print this page" alt="Print this page">print</a>
            <a href="#" class="material-icons mdc-top-app-bar__action-item" aria-label="Bookmark this page" alt="Bookmark this page">bookmark</a>
        </section>
    </div>
</header>
<aside class="s-nav mdc-drawer mdc-drawer--persistent mdc-typography">
    <nav class="mdc-drawer__drawer">
        <header class="mdc-drawer__header">
            <div class="mdc-drawer__header-content">
                My navigation menu
            </div>
        </header>
        <nav id="icon-with-text-demo" class="mdc-drawer__content mdc-list">
            <a class="mdc-list-item mdc-list-item--activated" href="#">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">inbox</i>Inbox
            </a>
            <a class="mdc-list-item" href="#">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">star</i>Star
            </a>
        </nav>
    </nav>
</aside>
<main class="s-content">
    My main body
    <button class="foo-button mdc-button">
        Button
    </button>
</main>
<footer class="s-footer">
    My Footer
</footer>
{% endblock %}