{% extends 'layout_topbar_footer.html' %}

{% block page_description %}
Swing easily over WEBsite development with Swing CMS!
{% endblock %}
{% block page_title %}
Swing CMS
{% endblock %}

{% block body %}
<section class="s-landingcontainer">
    <main class="s-content">
        <section class="parallax parallax--big" style="background-image: url(https://source.unsplash.com/1600x900/?women);">
            <div class="parallax-caption">
                <img src="../static/images/manifest/icon-512x512.png" alt="Big Picture">
                <span class="parallax-caption--dark">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</span>
            </div>
        </section>
        <section class="parallax-div parallax-div--light">
            <h2>
                First One
            </h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum autem, voluptatem hic nulla impedit quod quae voluptates sapiente
                veritatis ab. Eveniet, aperiam numquam. Est at quas voluptas obcaecati ducimus ea. Officiis commodi consequuntur
                accusamus mollitia quis nemo id nulla, nisi aspernatur! Doloremque ratione voluptatibus error perferendis
                eius nulla culpa impedit veniam ea eveniet maxime animi possimus qui accusamus, iure ducimus, molestiae ipsa
                cumque optio quae quibusdam commodi asperiores ab. Facere non eum quasi sed dolorem, cum cupiditate ea error
                quaerat explicabo corporis tenetur impedit et, commodi natus pariatur incidunt, cumque assumenda consectetur
                temporibus quas rerum quibusdam suscipit. Delectus maxime eius distinctio unde? Cumque sequi excepturi voluptate
                harum alias porro assumenda molestiae autem ratione explicabo, error sapiente culpa ex nulla hic! Maxime
                illo accusamus error eaque, eveniet tempora excepturi facilis eum cum aperiam modi quod inventore voluptate
                asperiores aut. Voluptas soluta nulla quisquam atque velit labore unde, assumenda at perferendis nam recusandae
                rem! Dolore distinctio ex impedit corporis est saepe magni eligendi omnis officia aliquid sed, nobis consectetur
                voluptate sit vero veritatis perferendis ratione dolorem qui amet tempore! Eaque deserunt nam at nemo beatae
                minima nesciunt quidem iusto dolorum, magni harum qui animi fugit id nihil soluta inventore adipisci consequuntur
                corrupti, esse maxime quam quaerat. Dolor officiis nesciunt modi ipsum quam sed sunt nihil commodi dignissimos,
                rerum similique aut quidem cumque at debitis quibusdam mollitia numquam quos in quia ipsam quisquam fugiat
                saepe optio. Vel, reiciendis, magni, consequuntur placeat ut voluptatibus nihil vitae ullam expedita fugiat
                facere. Odit quae quos rerum?
            </p>
        </section>
        <section class="parallax parallax--medium" style="background-image: url(https://source.unsplash.com/1600x900/?buildings);">
            <div class="parallax-caption">
                <span class="parallax-caption--light">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</span>
            </div>
        </section>
        <section class="parallax-div parallax-div--dark">
            <h2>
                Second One
            </h2>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil ut, velit vero aut qui omnis alias eaque accusantium doloremque
                deleniti reiciendis cupiditate praesentium officiis explicabo, distinctio, quae ad provident sed laborum
                temporibus nulla odio quaerat atque? Deserunt aperiam possimus placeat, asperiores eveniet laborum molestias
                quibusdam molestiae, eligendi quam ratione? Asperiores accusantium minus temporibus ullam adipisci corporis
                sunt, autem odio, ducimus nemo veritatis doloremque repudiandae recusandae quam voluptatum nisi nobis, obcaecati
                earum magni voluptatem aliquid? Inventore neque, tenetur atque necessitatibus quibusdam eius minus deleniti!
                Enim fugiat, maiores molestias error molestiae itaque iusto odit aspernatur quod, porro dolor voluptatum
                aperiam! Consectetur ullam tempore facilis impedit atque nobis odit, quia, vel repellat aliquid recusandae
                facere accusantium expedita laudantium optio laboriosam commodi beatae labore. Voluptates, quod iusto voluptas,
                nisi pariatur quisquam inventore sed officiis, sint aliquid corporis animi. Quia nam adipisci ipsa enim soluta
                commodi et, debitis quo cumque sed pariatur, totam deserunt odio nihil nisi. Beatae voluptatem obcaecati
                architecto ut eum doloremque saepe dolores quisquam consectetur ad. Eum repellat excepturi officia quia!
                Voluptatum perferendis obcaecati labore voluptas accusantium corrupti, beatae maxime, recusandae non vitae
                mollitia impedit aspernatur quidem, omnis quia eligendi itaque exercitationem! Officiis tenetur dicta laborum,
                repellat odio blanditiis. Ipsa sunt possimus enim, in porro aperiam veniam adipisci iste obcaecati autem
                sequi ipsam dolor laudantium, deleniti veritatis neque maiores tempora iusto doloremque sapiente similique
                voluptatibus. Error quisquam vitae nihil laborum, laudantium recusandae! Magnam nemo voluptatibus iusto nesciunt
                sunt veritatis, quidem aliquid a soluta animi unde fugit quibusdam consequuntur similique odit optio fugiat.
            </p>
        </section>
        <section class="parallax parallax--small" style="background-image: url(https://source.unsplash.com/1600x900/?tech);">
            <div class="parallax-caption">
                <span class="parallax-caption--dark">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</span>
            </div>
        </section>
        <section class="parallax-div parallax-div--light">
            <h2>
                First One
            </h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum autem, voluptatem hic nulla impedit quod quae voluptates sapiente
                veritatis ab. Eveniet, aperiam numquam. Est at quas voluptas obcaecati ducimus ea. Officiis commodi consequuntur
                accusamus mollitia quis nemo id nulla, nisi aspernatur! Doloremque ratione voluptatibus error perferendis
                eius nulla culpa impedit veniam ea eveniet maxime animi possimus qui accusamus, iure ducimus, molestiae ipsa
                cumque optio quae quibusdam commodi asperiores ab. Facere non eum quasi sed dolorem, cum cupiditate ea error
                quaerat explicabo corporis tenetur impedit et, commodi natus pariatur incidunt, cumque assumenda consectetur
                temporibus quas rerum quibusdam suscipit. Delectus maxime eius distinctio unde? Cumque sequi excepturi voluptate
                harum alias porro assumenda molestiae autem ratione explicabo, error sapiente culpa ex nulla hic! Maxime
                illo accusamus error eaque, eveniet tempora excepturi facilis eum cum aperiam modi quod inventore voluptate
                asperiores aut. Voluptas soluta nulla quisquam atque velit labore unde, assumenda at perferendis nam recusandae
                rem! Dolore distinctio ex impedit corporis est saepe magni eligendi omnis officia aliquid sed, nobis consectetur
                voluptate sit vero veritatis perferendis ratione dolorem qui amet tempore! Eaque deserunt nam at nemo beatae
                minima nesciunt quidem iusto dolorum, magni harum qui animi fugit id nihil soluta inventore adipisci consequuntur
                corrupti, esse maxime quam quaerat. Dolor officiis nesciunt modi ipsum quam sed sunt nihil commodi dignissimos,
                rerum similique aut quidem cumque at debitis quibusdam mollitia numquam quos in quia ipsam quisquam fugiat
                saepe optio. Vel, reiciendis, magni, consequuntur placeat ut voluptatibus nihil vitae ullam expedita fugiat
                facere. Odit quae quos rerum?
            </p>
        </section>
        <section class="parallax parallax--big" style="background-image: url(https://source.unsplash.com/1600x900/?landscape);">
            <div class="parallax-caption">
                <span class="parallax-caption--light">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</span>
            </div>
        </section>
    </main>
</section>
{% endblock %}