{% extends 'layout_main.html' %} {% block topbar %}
<header class="s-header mdc-top-app-bar">
    <div class="mdc-top-app-bar__row">
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
            <button class="menu material-icons mdc-top-app-bar__navigation-icon">
                menu
            </button>
            <span class="mdc-top-app-bar__title">Swing CMS - RXDBit</span>
        </section>
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
            <div class="mdc-menu-anchor">
                <!-- 
                <button id="shareButton" class="material-icons mdc-top-app-bar__action-item" aria-label="Share" alt="Share">
                    share
                </button>
                 -->
                <button id="shareButton" class="mdc-button topAppBar-button" aria-label="Share" alt="Share">
                    <i class="material-icons mdc-button__icon" aria-hidden="true">share</i>
                    Share
                </button>

                <div id="shareMenu" class="mdc-menu" tabindex="-1">
                    <ul class="mdc-list mdc-menu__items" role="menu" aria-hidden="true">
                        <li class="mdc-list-item" role="menuitem" tabindex="0">
                            <i class="classic-color-em material-icons mdc-list-item__graphic" aria-hidden="true">email</i>
                            Email
                        </li>
                        <li class="mdc-list-item" role="menuitem" tabindex="0">
                            <i class="classic-color-fb mdc-list-item__graphic fa fa-facebook" aria-hidden="true"></i>
                            Facebook
                        </li>
                        <li class="mdc-list-item" role="menuitem" tabindex="0">
                            <i class="classic-color-gp mdc-list-item__graphic fa fa-google-plus" aria-hidden="true"></i>
                            Google+
                        </li>
                        <li class="mdc-list-item" role="menuitem" tabindex="0">
                            <i class="classic-color-li mdc-list-item__graphic fa fa-linkedin" aria-hidden="true"></i>
                            LinkedIn
                        </li>
                        <li class="mdc-list-item" role="menuitem" tabindex="0">
                            <i class="classic-color-tw mdc-list-item__graphic fa fa-twitter" aria-hidden="true"></i>
                            Twitter
                        </li>
                        <li class="mdc-list-item" role="menuitem" tabindex="0">
                            <i class="classic-color-wa mdc-list-item__graphic fa fa-whatsapp" aria-hidden="true"></i>
                            WhatsApp
                        </li>
                    </ul>
                </div>
            </div>
            <button id="loginButton" class="mdc-button mdc-button--outlined topAppBar-button" aria-label="Login" alt="Login">
                Login
            </button>
        </section>
    </div>
</header>
<aside class="s-nav mdc-drawer mdc-drawer--temporary">
    <nav class="mdc-drawer__drawer">
        <header class="mdc-drawer__header">
            <div class="mdc-drawer__header-content">
                My navigation menu
            </div>
        </header>
        <nav id="icon-with-text-demo" class="mdc-drawer__content mdc-list">
            <a class="mdc-list-item mdc-list-item--activated" href="#">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">inbox</i>Inbox
            </a>
            <a class="mdc-list-item" href="#">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">star</i>Star
            </a>
        </nav>
    </nav>
</aside>
{% endblock %}
{% block bottombar %}{% endblock %}
{% block footer %}
<footer class="s-footer">
    <section class="footer-about">
        <div class="footer-section__title">
            More about the company
        </div>
        <div class="footer-about__text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed, fuga enim earum nemo nulla mollitia eum? Beatae perferendis
            placeat commodi tenetur labore delectus reprehenderit excepturi? Expedita placeat molestias libero et laborum illo
            quidem maiores officiis consequuntur quis, fuga ipsum. Obcaecati blanditiis libero porro autem commodi? Mollitia
            iste quae cumque quis at provident. Ipsa aliquam laborum explicabo ipsam quas vitae.
        </div>
        <span class="footer-about__author">
            Sean Alson, CEO
        </span>
    </section>
    <section class="footer-followus">
        <div class="footer-section__title">
            Keep connected with us
        </div>
        <div class="footer-followus__list">
            <ul class="mdc-list" aria-orientation="vertical" aria-hidden="true">
                <li class="mdc-list-item">
                    <a href="https://www.facebook.com/swing_cms/" target="_blank" rel="external">
                        <i class="mdc-list-item__graphic fa fa-facebook" aria-hidden="true"></i>
                        Facebook
                    </a>
                </li>
                <li class="mdc-list-item">
                    <a href="https://www.linkedin.com/in/swing_cms/" target="_blank" rel="external">
                        <i class="mdc-list-item__graphic fa fa-linkedin" aria-hidden="true"></i>
                        LinkedIn
                    </a>
                </li>
                <li class="mdc-list-item">
                    <a href="https://twitter.com/swing_cms" target="_blank" rel="external">
                        <i class="mdc-list-item__graphic fa fa-twitter" aria-hidden="true"></i>
                        Twitter
                    </a>
                </li>
                <li class="mdc-list-item">
                    <a href="https://wa.me/55578984565" target="_blank" rel="external">
                        <i class="mdc-list-item__graphic fa fa-whatsapp" aria-hidden="true"></i>
                        WhatsApp
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <section class="footer-contactus">
        <div class="footer-section__title">
            Contact us
        </div>
        <div class="footer-contactus__list">
            <ul class="mdc-list" aria-orientation="vertical" aria-hidden="true">
                <li class="mdc-list-item">
                    <a href="https://goo.gl/maps/LDXEiGHuic32" target="_blank" rel="external">
                        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">map</i>
                        Find us on Google Maps
                    </a>
                </li>
                <li class="mdc-list-item">
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">phone</i>
                    +555 7898 4565
                </li>
                <li class="mdc-list-item">
                    <a href="mailto:info@rxdbit.com" target="_blank" rel="external">
                        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">email</i>
                        info@rxdbit.com
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <section class="footer-copyright">
        Swing CMS. All rights reserved | Design by RXDBit
    </section>
</footer>
{% endblock %}